<footer class="footer mt-auto py-3 bg-dark" style="margin-top: auto!important;">
    <div class=" container">
        <p class="m-0 text-center text-white">Copyright &copy; Alex Dimov</p>
    </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="../../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>

<script type="text/javascript" src="../../javascripts/jquery.min.js"></script../../>
{{!-- <script type="text/javascript" src="../../javascripts/jquery.timeago.js"></script> --}}
{{!-- <script type="text/javascript" src="../../javascripts/jquery.timeago.ru.js"></script> --}}
<script type="text/javascript" src="../../javascripts/popper.js"></script>
<script type="text/javascript" src="../../javascripts/bootstrap.min.js"></script>
<script type="text/javascript" src="../../javascripts/jquery.mCustomScrollbar.js"></script>
<script type="text/javascript" src="../../lib/slick/slick.min.js"></script>
<script type="text/javascript" src="../../javascripts/scrollbar.js"></script>
<script type="text/javascript" src="../../javascripts/script.js"></script>


 {{!-- <script>
    var availableCities = json_encode($availableCities);
    var availableSciences = json_encode($availableSciences);
    var availableUnivers = json_encode($availableUnivers);
    var filtered = false;
    var searched = false;
</script> --}}

<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>

<script type="text/javascript" src="../../javascripts/jquery.range-min.js"></script>